{% extends "base.html" %}
{% load static %}
{% block title %}Новый пароль{% endblock %}
{% load user_filters %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}

{% block main_title %}Введите новый пароль{% endblock main_title %}

{% block content %}

    {% if validlink %}
        <div class="form-container">
            <form class="form" method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                        <div class="form__field-group">
                            {{ field|addclass:"form__input" }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Назначить новый пароль</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="form-container">
            <form class="form">
                <p class="form__info-text">Ссылка сброса пароля содержит ошибку или устарела.</p>
            </form>
        </div>
    {% endif %}

{% endblock %}