{% extends "base.html" %}
{% load static %}

{% block title %}Ссылка на восстановление пароля отправлена{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}

{% block main_title %}Ссылка на восстановление пароля отправлена{% endblock main_title %}

{% block content %}
    <div class="form-container">
        <form class="form">
            <p class="form__info-text">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
        </form>
    </div>

{% endblock %} 