{% extends "base.html" %}
{% load static %}
{% block title %}Пароль изменён{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}

{% block main_title %}Пароль изменён успешно!{% endblock main_title %}

{% block content %}

    <div class="form-container">
        <div class="form">
            <p class="form__info-text">Пароль пользователя <a href="{% url 'authors_recipes' user %}" style="color: black">{{ user }}</a> изменен</p>
        </div>
    </div>

{% endblock %} 