{% extends "base.html" %}
{% load static %}
{% block title %}Пароль успешно изменен{% endblock %}
{% load user_filters %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}

{% block main_title %}Пароль успешно изменен{% endblock main_title %}

{% block content %}

<div class="form-container">
    <form class="form">
        <p class="form__info-text">Ваш пароль успешно изменен, теперь можете <a href="{% url 'login' %}">войти</a></p>
    </form>
</div>


{% endblock %}

