<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Заголовок{% endblock %}</title>
    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock css %}
</head>
<body class="body">
    <header class="header">
        {% if user.is_authenticated %}
            {% include 'includes/header.html' %}
        {% else %}
            {% include 'includes/header_unreg.html' %}
        {% endif %}
    </header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{% block main_title %}{% endblock main_title %}</h1>
            {% block tags %}{% endblock tags %}
        </div>
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    {% block style %}
    {% endblock style %}
</body>
</html>
